$textGrey : rgb(94, 92, 92);

.short-menu{
    background: rgb(248, 248, 248);
    .content{
        padding: 70px 0;
        h3{
            font-family: 'Parisienne', cursive;
            color: red;
            font-size: 30px;
        }
        h4{
            font-size: 40px;
            font-weight: bold;
        }
        .subtext{
            width: 700px;
            margin: 0 auto;
            color: $textGrey;
        }
        .menu-nav{
            padding: 70px 0;
            font-weight: bold;
            color: $textGrey;
            ul{
                list-style-type: none;
                border-top: 1px solid rgb(195, 195, 195);
                border-bottom: 1px solid rgb(195, 195, 195);
                width: 700px;
                margin: 0 auto;
            }
            li{
                display: inline-block;
                padding: 15px 30px;
                &.active{
                    border-bottom:2px solid red;
                }
            }
        }

        //menu-sec

        .menu-sec{
            &.active{
                margin: -60px 0;
            }
            .row{
                margin: 60px 0;
            }
            .card-img-top{
            }
            .menu-price{
                position: absolute;
                margin: 20px;
                border-radius: 30px;
                width: 90px;
                height: 40px;
                line-height: 250%;
                background:red;
                color: white;
                font-weight: bold;
            }
            .card-body{
                .card-title{
                    font-size: 20px;
                }
                .order-now{
                    color: red;
                    border-top: 1px solid rgb(195, 195, 195);
                    font-weight: bold;
                    p{
                        margin: 20px 0;
                    }
                }
            }
        }
    }
}